<h1>About this page</h1>
<p>This is application is for internal use only it does not represent Kyocera or any of it entity</br>This Application has been created for Kyocera certified technician for a quick access to part numbers for most common parts and thier life cycle</p>
